.sortOption {
  display: none;
}

.nameForm {
  display: none;
}

.specialtyForm {
  display: none;
}

.practiceForm {
  display: none;
}

.locationForm {
  display: none;
}

#searchSubmit {
  display: none;
}

img {
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}

.panel .panel-heading {
font-weight: bold;

}

body {
  font-family: fantasy;
  background-color: darkgray;
}
