.sortOption {
  display: none;
}

.nameForm {
  display: none;
}

.specialtyForm {
  display: none;
}

.practiceForm {
  display: none;
}

.locationForm {
  display: none;
}

#searchSubmit {
  display: none;
}
